.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(225, 255, 215);
  border-bottom-color: rgb(140, 214, 116);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.75s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 